* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  color: white;
  width: 1440;
  height: 100vh;
  background-color: rgb(67, 67, 67);
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: orange;
  background-color: #1e1e1e;
}
.anchor-holder {
  padding: 10px;
}
